# Tarea 9

## Carga de los Datos `Run`

In [1]:
import numpy as np
import pandas as pd

In [110]:
run = pd.read_csv("../data/run.csv", delimiter=",", encoding="utf-8")
run = run.drop(["index"], axis=1)
run.columns = ["pulso_antes", "pulso_despues", "hace_deporte", "fuma", "genero", "altura", "peso", "tipo_actividad"]

Ejemplo de como indexar las filas teniendo varias condiciones lógicas

In [111]:
run[(run["hace_deporte"]=="no") & (run["fuma"]=="si")]

,pulso_antes,pulso_despues,hace_deporte,fuma,genero,altura,peso,tipo_actividad
0,48,54,no,si,H,68.0,150,nula
1,54,56,no,si,H,69.0,145,moderada
8,60,70,no,si,H,71.5,164,moderada
18,62,68,no,si,H,73.0,155,moderada
33,68,66,no,si,H,67.0,150,moderada
43,70,62,no,si,H,66.0,130,moderada
45,70,66,no,si,H,75.0,190,moderada
47,72,74,no,si,H,69.0,170,moderada
48,72,74,no,si,H,68.0,155,intensa
60,76,76,no,si,M,62.0,108,intensa
71,82,84,no,si,H,73.0,180,moderada
81,88,74,no,si,M,65.0,135,moderada
83,90,88,no,si,H,67.0,140,moderada
85,90,92,no,si,M,64.0,125,suave
87,92,94,no,si,H,69.0,150,moderada
88,94,92,no,si,M,62.0,131,moderada

## Ejercicio 1
Indica cuántos estudiantes formaron parte del estudio del deporte

In [98]:
run.shape[0]

92

## Ejercicio 2
Identifica cuántos induviduos son hombres y cuantos son mujeres

In [99]:
run["genero"].value_counts()

H    57
M    35
Name: genero, dtype: int64

In [100]:
run.groupby("genero")["altura"].count()

genero
H    57
M    35
Name: altura, dtype: int64

## Ejercicio 3
Calcula el porcentaje medio de variación del pulso entre antes y después de hacer ejercicio
y compara el valor de los que hacen ejercicio habitualmente y los que no. ¿Observas mucha diferencia?

In [92]:
def cov(x): 
    return x.std(ddof=0)/x.mean()

In [113]:
run["dif_pulso"] = run["pulso_despues"] - run["pulso_antes"]
run.head()

,pulso_antes,pulso_despues,hace_deporte,fuma,genero,altura,peso,tipo_actividad,dif_pulso
0,48,54,no,si,H,68.0,150,nula,6
1,54,56,no,si,H,69.0,145,moderada,2
2,54,50,no,no,H,69.0,160,moderada,-4
3,58,70,si,no,H,72.0,145,moderada,12
4,58,58,no,no,H,66.0,135,intensa,0

In [116]:
run.groupby("hace_deporte").agg(variacion=("dif_pulso", cov))

              variacion
hace_deporte
no           -39.176949
si             0.784228

Se puede ver que la variación si hace deporte o no, es muy grande

## Ejercicio 4
Calcula el porcentaje medio de variación del pulso por minuto entre antes y después de hacer ejercicio para los estudiantes que hacen ejercicio habitualmente y compara el valor de los hombres con el de las mujeres. ¿Observas mucha diferencia?

In [115]:
run[run["hace_deporte"]=="si"].groupby("genero").agg(variacion = ("dif_pulso", cov))

        variacion
genero
H        0.940793
M        0.356683

## Ejercicio 5
Calcula el porcentaje medio de variación del pulso por minuto entre antes y después de hacer ejercicio para los estudiantes que no hacen ejercicio habitualmente y compara el valor de los fumadores con los no fumadores. ¿Observas mucha diferencia?

In [120]:
run[run["hace_deporte"]=="no"].groupby("fuma").agg(variacion = ("dif_pulso", cov))

      variacion
fuma
no   -17.616576
si    43.988635

## Ejercicio 6
Calcula el porcentaje medio de variación del pulso por minuto entre antes y después de hacer ejercicio de todos los estudiantes según el tipo de actividad física que realizan. ¿Observas alguna diferencia?

In [121]:
run.groupby("tipo_actividad").agg(variacion = ("dif_pulso", cov))

                variacion
tipo_actividad
intensa          9.198662
moderada         1.508553
nula             0.000000
suave            1.870829